JIRA.SECRET
.terraform
sa-key.json
.tfstate
.tfstate.backup
.tfplan


terraform12-validator-demo/my.tfplan
terraform12-validator-demo/my.tfplan.json
terraform12-validator-demo/terraform
terraform12-validator-demo/terraform-validator-darwin-amd64