@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola, Buenos Dias</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Microsoft</a>.</p>
</div>
